/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'IBM Plex Serif', serif;
  font-size: 18px;
  line-height: 26px;
  color: #000;
  background-color: #f5f7ff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'IBM Plex Serif', serif;
  color: #000;
}

h1 {
  font-size: 40px;
  line-height: 48px;
}

.page-content-wrapper {
  padding: 60px 0;
}


@media (min-width: 1440px) {
  .container {
    max-width: 1640px;
  }
}

.container-narrow {
  max-width: 70%;
  margin: 0 auto;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue",
  sans-serif;
}

.page-title {
  text-align: center;
  font-weight: 800;
}
