.offer {
  //width: 70%;
  margin: 60px;
  position: relative;

  &__meta {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    padding-bottom: 15px;
    border-bottom: 1px solid #cfcfcf;
  }

  &__category, &__type {
    display: flex;
    color: #9b9b9b;
  }

  &__category .icon, &__type .icon {
    margin-right: 10px;
  }

  &__category {
    margin-right: 60px;
  }

  &__add-to-favorites {
    .count {
      font-size: 14px;
      margin-top: 10px;
    }
  }
}

.candidacies {
  //width: 30%;
  display: flex;
  flex-direction: column;
  margin: 60px;
  background: #fff;
  padding: 30px;
  border-radius: 20px;

  h3 {
    margin-bottom: 30px;
  }
}

.candidacy {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid #e5e5e5;

  .candidacy__name {
    font-size: 20px;
    font-weight: 600;
    max-width: 400px;
  }

  &:last-child {
    border-bottom: none;
  }
}
