<div class="container">
  <div class="page-content-wrapper">
    <h1 class="page-title">Job listings near you</h1>

    <div class="listing">
      <a class="offer-card" *ngFor="let offer of jobOffers">
        <div class="offer-card__likes">
          <div class="count">
            {{ offer.likesCount }}
          </div>
          <div class="icon">
            <div class="icon--border">
              <mat-icon>favorite_border</mat-icon>
            </div>
            <div class="icon--full">
              <mat-icon>favorite</mat-icon>
            </div>
          </div>
        </div>
        <div class="card-body offer-card__body">
          <h5 class="card-title offer-card__title">{{ offer.title }}</h5>
          <p class="card-text offer-card__description">{{ offer.description }}</p>
          <div class="offer-card__meta">
            <div class="offer-card__meta--category">
              <div class="icon">
                <mat-icon>work_outline</mat-icon>
              </div>
              {{ offer.category }}
            </div>
            <div class="offer-card__meta--type">
              <div class="icon">
                <mat-icon>schedule</mat-icon>
              </div>
              {{ offer.type }}
            </div>
          </div>
          <div class="offer-card__actions">
            <a href="#" class="button button--primary">Edit</a>
            <a href="#" class="button button--secondary">Delete</a>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
