 <div class="offer-card__likes" *ngIf="!isInMyCandidacies">
    <div class="count">
      {{ offer.jobLikes.length }}
    </div>
    <div class="icon" [ngClass]="{'liked': isOfferLiked()}" (click)="onLikeDislike()">
      <div class="icon--border">
        <mat-icon>favorite_border</mat-icon>
      </div>
      <div class="icon--full">
        <mat-icon>favorite</mat-icon>
      </div>
    </div>
  </div>
  <div class="card-body offer-card__body">
    <h5 class="card-title offer-card__title">{{ offer.title }}</h5>
    <p class="card-text offer-card__description">{{ offer.description.substring(0,150) + "..." }}</p>
    <div class="offer-card__meta">
      <div class="offer-card__meta--category">
        <div class="icon">
          <mat-icon>work_outline</mat-icon>
        </div>
        {{ offer.category }}
      </div>
      <div class="offer-card__meta--type">
        <div class="icon">
          <mat-icon>schedule</mat-icon>
        </div>
        {{ offer.type }}
      </div>
    </div>
    <div class="offer-card__actions">
      <div class="d-flex">
        <a href="#" class="button button--primary" [routerLink]="['/listing', 'edit', offer.id]" *ngIf="isAdmin && offer.userId === currentUser.id">Edit</a>
        <button class="button button--primary" (click)="onDelete()" *ngIf="isAdmin && offer.userId === currentUser.id">Delete</button>
        <div *ngIf="isInMyCandidacies">Status: {{ applicationStatus }}</div>
      </div>
      <a href="#" class="button button--secondary" [routerLink]="['/listing', 'view', offer.id]">View offer</a>
    </div>
  </div>
